<div class="scrollbar" id="style-1">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem deleniti
  accusantium quasi ab ad officia cupiditate sed aliquam nobis expedita velit
  dolorum perspiciatis pariatur nam vero et magnam soluta tempora! The
  -webkit-scrollbar family of properties consists of seven different
  pseudo-elements that, together, comprise a full scrollbar UI element:
  ::-webkit-scrollbar addresses the background of the bar itself. It is usually
  covered by the other elements ::-webkit-scrollbar-button addresses the
  directional buttons on the scrollbar ::-webkit-scrollbar-track addresses the
  empty space “below” the progress bar ::-webkit-scrollbar-track-piece is the
  top-most layer of the the progress bar not covered by the draggable scrolling
  element (thumb) ::-webkit-scrollbar-thumb addresses the draggable scrolling
  element that resizes depending on the size of the scrollable element
  ::-webkit-scrollbar-corner addresses the (usually) bottom corner of the
  scrollable element, where two scrollbars might meet ::-webkit-resizer
  addresses the draggable resizing handle that appears above the
  scrollbar-corner at the bottom corner of some elements In addition to these
  pseudo-elements, there are also eleven pseudo-selector classes that aren’t
  required but provide designers with the power to style various states and
  interactions of the scrollbar UI. A full breakdown of those pseudo-selectors,
  and a detailed example, can be found in this CSS-Tricks article. Lorem ipsum
  dolor sit amet, consectetur adipisicing elit. Quidem deleniti accusantium
  quasi ab ad officia cupiditate sed aliquam nobis expedita velit dolorum
  perspiciatis pariatur nam vero et magnam soluta tempora! Eveniet deserunt
  consequatur porro molestiae nulla optio quis totam libero iste nemo odit eum
  facilis sapiente. Harum similique cupiditate voluptas ea optio sunt molestias
  eius ab qui obcaecati nesciunt id? Necessitatibus delectus sint vitae eos
  quasi optio esse dignissimos enim laborum ipsum harum perspiciatis eaque.
  Magnam fugiat delectus neque laboriosam in accusamus a veniam inventore
  asperiores consequatur nihil quae quo. Eligendi quaerat nesciunt sint nobis
  qui? Temporibus maiores esse molestiae hic cum culpa sed recusandae dolore
  sequi modi. Quos illum debitis odio consequatur voluptatum error aliquam rem
  similique officia recusandae. Ex suscipit earum reiciendis eaque dolorem
  inventore accusantium modi voluptatum saepe cum quam tempora autem corrupti
  illum deleniti iure rerum mollitia quo ducimus soluta ea! Illum aliquid
  consectetur vitae quod? Minus rem tempora quo. Deleniti mollitia dignissimos
  laborum quis quos facilis dolore soluta error provident recusandae veniam
  minus consequatur blanditiis. Facere tempore praesentium soluta fugiat quia
  eligendi dolores ullam doloribus! Aut nulla perferendis officiis accusamus ut
  aspernatur hic possimus amet blanditiis incidunt repudiandae ullam inventore
  ipsam recusandae nihil provident facilis totam quibusdam natus eligendi optio
  quia sapiente rerum quos illo? Porro soluta nisi impedit voluptatem ex
  accusantium facilis amet quod blanditiis quia similique totam enim id ratione
  minus quo modi sequi nam dicta iste aliquid itaque velit accusamus quibusdam
  consequuntur. Ab assumenda in ad nesciunt recusandae labore voluptates vero
  suscipit tenetur ullam sint beatae odio harum quo aperiam quas temporibus
  pariatur consectetur saepe eveniet minus voluptatem atque iusto similique
  repudiandae? In enim odit repellat maxime harum eum expedita fuga vel eaque
  quaerat optio scrollable element, where two scrollbars might meet
  ::-webkit-resizer addresses the draggable resizing handle that appears above
  the scrollbar-corner at the bottom corner of some elements In addition to
  these pseudo-elements, there are also eleven pseudo-selector classes that
  aren’t required but provide designers with the power to style various states
  and interactions of the scrollbar UI. A full breakdown of those
  pseudo-selectors, and a detailed example, can be found in this CSS-Tricks
  article. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
  deleniti accusantium quasi ab ad officia cupiditate sed aliquam nobis expedita
  velit dolorum perspiciatis pariatur nam vero et magnam soluta tempora! Eveniet
  deserunt consequatur porro molestiae nulla optio quis totam libero iste nemo
  odit eum facilis sapiente. Harum similique cupiditate voluptas ea optio sunt
  molestias eius ab qui obcaecati nesciunt id? Necessitatibus delectus sint
  vitae eos quasi optio esse dignissimos enim laborum ipsum harum perspiciatis
  eaque. Magnam fugiat delectus neque laboriosam in accusamus a veniam inventore
  asperiores consequatur nihil quae quo. Eligendi quaerat nesciunt sint nobis
  qui? Temporibus maiores esse molestiae hic cum culpa sed recusandae dolore
  sequi modi. Quos illum debitis odio consequatur voluptatum error aliquam rem
  similique officia recusandae. Ex suscipit earum reiciendis eaque dolorem
  inventore accusantium modi voluptatum saepe cum quam tempora autem corrupti
  illum deleniti iure rerum mollitia quo ducimus soluta ea! Illum aliquid
  consectetur vitae quod? Minus rem tempora quo. Deleniti mollitia dignissimos
  laborum quis quos facilis dolore soluta error provident recusandae veniam
  minus consequatur blanditiis. Facere tempore praesentium soluta fugiat quia
  eligendi dolores ullam doloribus! Aut nulla perferendis officiis accusamus ut
  aspernatur hic possimus amet blanditiis incidunt repudiandae ullam inventore
  ipsam recusandae nihil provident facilis totam quibusdam natus eligendi optio
  quia sapiente rerum quos illo? Porro soluta nisi impedit voluptatem ex
  accusantium facilis amet quod blanditiis quia similique totam enim id ratione
  minus quo modi sequi nam dicta iste aliquid itaque velit accusamus quibusdam
  consequuntur. Ab assumenda in ad nesciunt recusandae labore voluptates vero
  suscipit tenetur ullam sint beatae odio harum quo aperiam quas temporibus
  pariatur consectetur saepe eveniet minus voluptatem atque iusto similique
  repudiandae? In enim odit repellat maxime harum eum expedita fuga vel eaque
  quaerat optio
</div>
