.hot_job {
  height: 40px;
  width: 50px;
  margin-top: 5px;
  margin-left: 450px;
}
.color {
  background-color: rgba(230, 0, 0, 0.8);
  margin-left: -120px;
  margin-right: -120px;
}
#vacancy {
  color: #fff;
  margin-left: 200px;
  margin-right: -400px;
  margin-bottom: 40px;
}
.card {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 40px;
}
.card {
  background: #f5f5f5;
  margin-bottom: 2em;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

#vacancy:hover {
  opacity: 0.5;
}
.curved-div svg {
  display: block;
  position: relative;
  margin-left: -120px;
  margin-right: -120px;
}
.apply-button {
  color: rgba(230, 0, 0, 0.8);
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 8px 20px;
  max-height: 30px;
  border: none;
  width: fit-content;
  font-weight: bold;
}
.apply-button {
  padding: 8px 30px;
  max-height: 45px;
  margin-top: 3%;
}
